.text-white{
    color: white;
}
.hero-background{
    background-image: linear-gradient(
        rgba(56, 56, 56, 0.6), 
        rgba(56, 56, 56, 0.6)
      ),
      url(../../photos/background.png);
      background-position: center;
      background-size: cover;
}
.hero-text{
    height: 300px;
}
.dark-background{
    background-color: #0E0A2A;
    min-height: 100vh;
    
}